.logo {
  position: relative;
  height: 60px;
  top: -16px;
  left: -16px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.logo-icon {
  height: 32px;
}

.logo-text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  white-space: nowrap;
}
